body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.task {
  margin: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  font-size: 16px;
}

.title {
  padding: 10px;
}

.list > li {
  margin-top: 5px;
}

.list li:nth-last-child(-n + 3) {
  color: green;
}
